h2 {
    text-align: center;
    border: 5px solid #333;
    padding: 5px;
    margin: 5px;
    font-size: 2em;
}

h2.helpoptions {
}

h2.currentparameters {
}

h2.earthquakes {
}

h2.maps {
}

p.helpoptions {
    //font-size: 0.8em;
}

p.currentparameters {
    font-size: 1.8em;
}

p.error {
    padding: 10px;
    font-size: 1.8em;
    background-color: #F75D59;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f5f2f5;
}

tr.alertred {
    background-color: #F75D59;
}

tr.alertorange {
    background-color: #FF8040;
}

tr.alertyellow {
    background-color: #FFFF99;
}

th, td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #e1e1e1;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navigation {
    background-color: #333;
    font-size: 1.6em;
}

ul.links {
    background-color: #555;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}